# npm
node_modules/

# dev
lib

# test
test
coverage
commands
performance

# config
.gitignore
.editorconfig
.prettierrc
babel.config.js
eslint.config.mjs
jest.config.ts
tsconfig.json

# Git
.git
.github
